* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background: url(../images/bg_body.gif) repeat 0 0;
}

.wrap {
    width: 100%;
}

.hidden {
    display: none;
}

#language {
    width: 90px;
}

#header {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 100px;
    margin: 0 auto;
}

.main-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    margin-right: 1em;
}

.main-logo>img {
    width: 45%;
    height: 70px;
}

.main-nav {
    width: 100%;
}

.top-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
}

.top-navbar-menu {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-navbar-menu>li {
    margin-right: 40px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.top-navbar-menu>li>a {
    color: #000;
}

.top-navbar-menu>li>a:hover {
    color: #777;
}

.bottom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.bottom-navbar-menu {
    display: flex;
    justify-content: flex-start;
}

.bottom-navbar-menu>li {
    margin: 0 2.5vw;
    font-size: 16px;
    text-transform: uppercase;
}

.bottom-navbar-menu>li:nth-child(1) {
    margin-left: 0;
}

.bottom-navbar-menu>li:nth-child(5) {
    margin-right: 0;
}

.bottom-navbar-menu>li>a {
    display: inline-block;
    color: #000;
}

.bottom-navbar-menu>li>a:hover {
    color: #ddd;
}

.bottom-navbar-menu>li>a>span:nth-child(2) {
    font-size: 11px;
    color: #ccc;
}

.bottom-navbar-menu span {
    display: block;
    text-align: center;
}

.bottom-navbar-menu-icon {
    display: flex;
}

.bottom-navbar-menu-icon>li {
    margin-left: 25px;
}

.bottom-navbar-menu-icon>li:nth-child(1) {
    margin: 0;
}

.header-icon-all {
    font-size: 25px;
    color: #000;
}

.left-navbar-icon {
    font-size: 18px;
    color: #000;
}

#main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 4.5%;
}

.main-left-navbar {
    position: fixed;
    top: 100px;
    left: 0;
    width: 4.5%;
    height: 100vh;
    background: url(../images/bg_body.gif) repeat 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 5;
}

.main-left-navbar-list {
    display: flex;
    height: 550px;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-left-navbar-list li a svg:hover {
    color: #ddd;
}

.main-left-navbar>span {
    width: 100%;
    height: 40px;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    background-color: rgb(28, 53, 111);
    color: #fff;
}


.main-right-navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 5%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-right-navbar > span {
    position: relative;
    text-align: center;
    padding-top: 30px;
}

.main-right-navbar > span::before {
    content: '';
    opacity: 0.8;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 20px;
    height: 2px;
    margin-left: -10px;
    background: #4d4d4d;
    transform: rotate(0deg);
    transform-origin: 50% 100%;
    transition: 0.4s ease-in-out;
}

.main-right-navbar > span::after {
    content: '';
    opacity: 0.8;
    display: block;
    position: absolute;
    top: 6px;
    left: 50%;
    width: 20px;
    height: 2px;
    margin-left: -10px;
    background: #4d4d4d;
    transform: rotate(0deg);
    transform-origin: 50% 100%;
    transition: 0.4s ease-in-out;
}

.main-right-navbar > span:hover {
    cursor: pointer;
}

.main-right-navbar > span:hover::before {
    transform: rotate(-45deg);
}

.main-right-navbar > span:hover::after {
    top: 0;
    transform: rotate(-45deg)
}


.main-slide {
    width: 95%;
}

.bxslider {
    z-index: 3;
}

.bxslider>div {
    width: 95%;
}

.bxslider>div>img {
    width: 100%;
}

.main-right-navbar {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auto-slide {
    width: 100%;
}

.slide-wrap {
    width: 95%;
    overflow: hidden;
}

.slide {
    display: flex;
}

.slide>li {
    margin-right: 20px;
}

.slide>li:hover {
    cursor: pointer;
}

.opera-map {
    width: 95%;
    margin-top: 3em;
}

.opera-map>div {
    position: relative;
}

.opera-map>div>img {
    display: block;
    position: relative;
    top: 0;
    left: -8%; 
}

.opera-map>div>div {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background-color: #c7a787;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.opera-map>div>div> div:nth-child(1) {
    height: 80%;
}

.opera-map>div>div> div:nth-child(2) {
    height: 20%;
}

.opera-location {
    width: 100%;
    padding: 8%;
}

.opera-location>span {
    font-size: 1.2rem;
    font-weight: 700;
    display: inline-block;
}

.opera-location>h2 {
    font-size: 2rem;
    margin-bottom: 1.3em;
}

.opera-location>p {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 2em;
}

.opera-location>ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.opera-location>ul>li {
    margin: 0 5%;
}

.opera-location>ul>li>a:hover {
    color: #fff;
}

.opera-location>ul>li:nth-child(1) {
    margin-left: 0
}

.opera-location>ul>li:nth-child(3) {
    margin-right: 0
}

.opera-location>ul>li>a {
    width: 100%;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #8e6e4e;
}

.opera-location>ul>li>a>img {
    margin: 0 1em 0.7em 1em;
}

.annex-intro {
    width: 100%;
    padding: 2% 8%;
    background-color: #b29375;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.annex-intro p {
    font-weight: 700;
    margin-right: 1.3em;
}

.annex-intro ul {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#footer {
    display: inline-block;
    width: 90%;
    margin: 0 5%;
    padding: 3em 0;
    color:  #444;
    font-size: 0.9rem;
}

#footer>div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#footer>div>ul>li {
    margin-bottom: 1em;
}

#footer>div>ul:nth-child(1)>li:nth-child(1)>a {
    color: #20408a;
}

#footer>div>ul:nth-child(2)>li:nth-child(1)>a {
    color: #20408a;
}

#footer>div>ul:nth-child(3)>li:nth-child(3)>a {
    margin-right: 1.5em;
    color: #20408a;
}

#footer>div>div {
    height: 100%;
}

#footer>div>ul>li>a {
    color: #444;
}

#relate-site {
    width: 220px;
    height: 40px;
    border: 1px solid #d2d2d2;
    padding: 0.437em 0.937em;
    margin: 0 0 1.5em;
}

#footer > div > div > p {
    margin: 0 0 0.8em;
}

@media screen and (max-width: 1400px) {
    .opera-map > div > img {
        left: -20%;
    }
}

@media screen and (max-width: 1210px) {
    #header {
        width: 90%;
    }

    #main {
        margin: 0;
    }

    .main-nav {
        width: 80%;
    }

    .bottom-navbar {
        justify-content: flex-end;
    }

    .bottom-navbar-menu {
        display: none;
    }

    .main-left-navbar {
        display: none;
    }

    .main-right-navbar {
        display: none;
    }

    .opera-map>div>img {
        left: -25%;
    }

    #footer {
        width: 95%;
        margin: 0;
        padding: 2em;
    }

    #footer > div {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    
   #footer > div > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }

    #footer > div > ul > li {
        margin-right: 1em;
    }
}

@media screen and (max-width: 1080px) {
    .opera-map > div > img {
        display: none;
    }
    
    .opera-map>div>div {
        position: relative;
        width: 100%;
    }
}

@media screen and (max-width: 840px) {
    html {
        font-size: 14px;
    }

    #header {
        width: 100%;
    }

    .main-nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
    }

    .main-slide {
        width: 100%;
    }

    .slide-wrap {
        width: 100%;
    }

    .opera-map {
        width: 100%;
    }

    .main-logo a img {
        width: 100%;
    }

    .top-navbar {
        display: none;
    }

    .bottom-navbar {
        height: auto;
    }

    #footer {
        width: 100%;
    }
}

@media screen and (max-width: 460px) {
    .opera-location {
        text-align: center;
    }

    .opera-location>ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .opera-location>ul>li {
        width: 100%;
        margin: 0;
        margin-bottom: 1em;
    }

    .annex-intro {
        display: none;
    }

    #footer > div > ul:nth-child(2) {
        display: none;
    }
}